* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
   box-sizing: border-box; 
}
#Home .navbar-brand{
  font-family: cursive;
}
#Home .navbar-expand-sm{
z-index: 4;
}
#Home{
  background: url(jpg/spice1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#Home  .col-sm-6{
  min-height: 400px;
  background: rgba(255, 255, 255, 0.623);
  backdrop-filter: blur(4px);
  margin-top: 150px;
}
#traditional{
  min-height: 80vh;
}
#traditional .traditionalmultiplecontent{
  background: lightgrey;
}
#traditional .traditionalImgContent{
  background:rgb(59, 85, 95) ;
}
  .circle span{
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  /* margin-left: 5px; */
  display: inline-block;
}
#traditional .traditionImg{
  min-height: 200px;
}
#traditional .traditionImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#menu{
  background: url(jpg/spice2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#menu > .row .col-10{
  background: rgba(255, 255, 255, 0.63);
  backdrop-filter: blur(4px);
}
#menu .menuContentImg .col-6 .row .menuContentChildImg{
  min-height: 150px;
}
#menu .menuContentImg .col-12 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#menu .menuchart{
  background: rgb(202, 202, 202);
}
#discoverMenu{
  min-height: 500px;
  background: url(jpg/spice9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#discoverMenu .discovermenuContent{
  background: rgba(255, 255, 255, 0.658) !important;
  backdrop-filter: blur(3px) !important;
  margin-top: 100px;
}
#discoverMenu .discovermenuContent h1{
  font-family: cursive;
}#discoverMenu .discovermenuContent .titlemenu{
  color: brown;
}
#discoverMenu  .discovermenuContent i{
  border-radius: 50%;
}
.emni{
  background: url(jpg/spice4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 80vh;
}
#bookhere{
  min-height: 90vh;
  background: url(jpg/spice5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 background-position: top;
}
#bookhere .row h2{
font-family: cursive;
}
#bookhere .bookhereBg{
  background: rgb(50, 75, 82);
}
#bookhere .bookhereBg select{
  background: transparent;
  border: 1px solid white;
  outline: none;
  color: rgb(236, 236, 236);
  cursor: pointer;
}
#bookhere .bookhereBg select option{
  background: whitesmoke;
  color: black;
}
#bookhere .bookhereBg input{
  background: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
  cursor: pointer;
}
#bookhere .bookhereBg input:focus{
  outline: none !important;
}